
html, body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, conteúdo flexível e footer */
}

body {
  background-image: url(../imgs/firelink.jpg);
  background-size: cover;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.363);
  position: relative;
}

header img {
  height: 140px;
  width: 140px;
  margin-right: 20px;
  position: absolute;
  left: 20px;
}

header h1 {
  font-size: 60px;
  color: #ff4500;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0;
}

nav {
  width: 80%;
  margin: 10px auto;
  height: 55px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  flex: 1;
  margin: 0 5px;
}

nav .opcao {
  background-color: rgba(0, 0, 0, 0.295);
  padding: 10px 0;
  font-size: 26px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav .opcao:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 98%;
  margin: auto;
  flex-wrap: wrap;
}

.home-section img {
  width: 20%;
  max-width: 300px;
  min-height: 50px;
  height: auto;
  position: absolute;
  left: 0;
  margin: 10px;
  margin-left: 3%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 60%;
}



.inscricao-section {
  text-align: center;
  padding: 20px;
}

.conteudo-section {
  text-align: center;
  padding: 5px;
  margin-bottom: 1%;
}

h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 50px;
}

form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #00000070;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: rgb(44, 42, 42);
  font-style: italic;
  opacity: 1; 
}

.inscricao input, .inscricao textarea, .inscricao select{
  margin: 5px auto;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.308);
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.radio-group {
  display: flex;
  gap: 10px;
}

button:not(:disabled):hover {
  opacity: 0.6;
}

#btnEnviar:disabled {
  cursor: not-allowed;
}

.button button{
  width: 30%;
  margin: 0 10%;
  background-color: #d1d1d18c;
  font-weight: bold;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgba(255, 68, 0, 0.575);
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 1.5% auto;
  background-color: #0000004f;
}

thead,
tfoot {
  background-color: rgb(255 240 245);
}

th,
td {
  border: 1px solid rgb(160 69 0);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

footer {
  color: #ff4500;
  justify-content: center;
  padding: 10px;
  width: 98%;
  position:fixed;
  bottom: 0;
}